**Preparing Dataset**

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#loading the first dataset with electric velicle charging station details
df=pd.read_csv('/content/ev-charging-stations-india.csv')
df

,name,state,city,address,lattitude,longitude,type
0,Neelkanth Star DC Charging Station,Haryana,Gurugram,"Neelkanth Star Karnal, NH 44, Gharunda, Kutail...",29.6019,76.980300,12.0
1,Galleria DC Charging Station,Haryana,Gurugram,"DLF Phase IV, Sector 28, Gurugram, Haryana 122022",28.4673,77.081800,12.0
2,Highway Xpress (Jaipur-Delhi) DC charging station,Rajasthan,Behror,"Jaipur to Delhi Road, Behror Midway, Behror, R...",27.8751,76.276000,12.0
3,Food Carnival DC Charging Station,Uttar Pradesh,Khatauli,"Fun and Food Carnival, NH 58, Khatauli Bypass,...",29.3105,77.721800,12.0
4,Food Carnival AC Charging Station,Uttar Pradesh,Khatauli,"NH 58, Khatauli Bypass, Bhainsi, Uttar Pradesh...",29.3105,77.721800,12.0
...,...,...,...,...,...,...,...
1542,Tata Power,Kerala,Munnar,"Gokulam Park Munnar, Power House Road, South C...",10.0297934,77.045859,7.0
1543,Tata Power,Haryana,Gurgaon,"Vatika Town Square II, Sector 82, Sector 82, V...",28.3904593,76.959200,7.0
1544,Tata Power,Haryana,Gurgaon,"Zedex TATA, Sec 48, GF-26, NIHO Scottish Mall,...",28.411072,77.040546,7.0
1545,Tata Power,Jammu,Jammu,"Le ROI, Jammu, Railway Station, Jammu, Jammu &...",32.7064117,74.879203,7.0
1546,Tata Power,Karnataka,Mangalore,"Auto Matrix, Bejai, Manjusha Building, Bejai, ...",12.885716,74.843476,7.0

In [ ]:
df.head()

,name,state,city,address,lattitude,longitude,type
0,Neelkanth Star DC Charging Station,Haryana,Gurugram,"Neelkanth Star Karnal, NH 44, Gharunda, Kutail...",29.6019,76.9803,12.0
1,Galleria DC Charging Station,Haryana,Gurugram,"DLF Phase IV, Sector 28, Gurugram, Haryana 122022",28.4673,77.0818,12.0
2,Highway Xpress (Jaipur-Delhi) DC charging station,Rajasthan,Behror,"Jaipur to Delhi Road, Behror Midway, Behror, R...",27.8751,76.2760,12.0
3,Food Carnival DC Charging Station,Uttar Pradesh,Khatauli,"Fun and Food Carnival, NH 58, Khatauli Bypass,...",29.3105,77.7218,12.0
4,Food Carnival AC Charging Station,Uttar Pradesh,Khatauli,"NH 58, Khatauli Bypass, Bhainsi, Uttar Pradesh...",29.3105,77.7218,12.0

In [ ]:
df.tail()

,name,state,city,address,lattitude,longitude,type
1542,Tata Power,Kerala,Munnar,"Gokulam Park Munnar, Power House Road, South C...",10.0297934,77.045859,7.0
1543,Tata Power,Haryana,Gurgaon,"Vatika Town Square II, Sector 82, Sector 82, V...",28.3904593,76.959200,7.0
1544,Tata Power,Haryana,Gurgaon,"Zedex TATA, Sec 48, GF-26, NIHO Scottish Mall,...",28.411072,77.040546,7.0
1545,Tata Power,Jammu,Jammu,"Le ROI, Jammu, Railway Station, Jammu, Jammu &...",32.7064117,74.879203,7.0
1546,Tata Power,Karnataka,Mangalore,"Auto Matrix, Bejai, Manjusha Building, Bejai, ...",12.885716,74.843476,7.0

In [ ]:
df.columns

Index(['name', 'state', 'city', 'address', 'lattitude', 'longitude', 'type'], dtype='object')

In [ ]:
df.shape

(1547, 7)

In [ ]:
df.dtypes

name          object
state         object
city          object
address       object
lattitude     object
longitude    float64
type         float64
dtype: object

In [ ]:
df.isna().sum()

name          0
state         0
city          0
address      40
lattitude     6
longitude     6
type          8
dtype: int64

In [ ]:
df['state'].value_counts()

state
Maharashtra          259
Tamil Nadu           155
Karnataka            134
Delhi                126
Kerala                91
Uttar Pradesh         87
Gujarat               77
Telangana             75
Rajasthan             68
Haryana               60
Delhi NCR             53
West Bengal           53
Odisha                38
Andhra Pradesh        31
Andhra pradesh        24
Jharkhand             22
Uttarakhand           21
TAMIL NADU            20
Madhya Pradesh        20
Punjab                15
Chhattisgarh          12
Assam                 10
Bihar                  9
PUNJAB                 9
Goa                    8
TamilNadu              7
Himachal Pradesh       6
Maharashra             5
TELENGANA              5
Chattisgarh            4
Jammu & Kashmir        3
Jammu                  3
WestBengal             3
Uttrakhand             2
Puducherry             2
Andra Pradesh          2
Sikkim                 2
Uttarakhand            2
chattisgarh            2
Chandigarh             2
Limbdi                 1
Hyderabadu00a0         1
Rajahmundry            1
Jajpur                 1
Uttarkhand             1
Karala                 1
Tripura                1
Kochi                  1
Bhubhaneswar           1
Hyderabad              1
Hisar                  1
Ernakulam              1
Chikhali               1
Andhra Pradesh         1
Jammu and Kashmir      1
Pondicherry            1
Harayana               1
TamiNadu               1
AndhraPradesh          1
Andaman                1
Name: count, dtype: int64

On careful observation of the states column, it is clear that there are various inconsistencies in it, ranging from multiple version of the same state, misspelled names, city names. These need to be cleaned to have a consistent state column.

In [ ]:
# making the text in the column consistent for easier treatment.
df['state']=df['state'].str.lower()
df['state']=df['state'].str.strip()
df['state']

0             haryana
1             haryana
2           rajasthan
3       uttar pradesh
4       uttar pradesh
            ...
1542           kerala
1543          haryana
1544          haryana
1545            jammu
1546        karnataka
Name: state, Length: 1547, dtype: object

In [ ]:
# creating a state map, to bring more consistency, addressing all the inconsistencies.
state_mapping= {
    'andaman': 'Andaman and Nicobar Islands',
    'andhra pradesh': 'Andhra Pradesh',
    'andra pradesh': 'Andhra Pradesh',
    'andhrapradesh': 'Andhra Pradesh',
    'arunachal pradesh': 'Arunachal Pradesh',
    'assam': 'Assam',
    'bihar': 'Bihar',
    'chandigarh': 'Chandigarh',
    'chattisgarh': 'Chhattisgarh',
    'chattisgarh': 'Chhattisgarh',
    'delhi': 'Delhi',
    'delhi ncr': 'Delhi',
    'goa': 'Goa',
    'gujarat': 'Gujarat',
    'haryana': 'Haryana',
    'hyderabad':'Telangana',
    'himachal pradesh': 'Himachal Pradesh',
    'jammu': 'Jammu and Kashmir',
    'jammu & kashmir': 'Jammu and Kashmir',
    'jammu and kashmir': 'Jammu and Kashmir',
    'jharkhand': 'Jharkhand',
    'jajpur': 'Rajasthan',
    'karnataka': 'Karnataka',
    'karala': 'Kerala',
    'kerala': 'Kerala',
    'limbdi': 'Gujarat',
    'madhya pradesh': 'Madhya Pradesh',
    'maharashtra': 'Maharashtra',
    'maharashra': 'Maharashtra',
    'manipur': 'Manipur',
    'meghalaya': 'Meghalaya',
    'mizoram': 'Mizoram',
    'nagaland': 'Nagaland',
    'odisha': 'Odisha',
    'pondicherry': 'Puducherry',
    'puducherry': 'Puducherry',
    'punjab': 'Punjab',
    'rajahmundry': 'Andhra Pradesh',
    'rajasthan': 'Rajasthan',
    'sikkim': 'Sikkim',
    'taminadu': 'Tamil Nadu',
    'tamilnadu':'Tamil Nadu',
    'tamil nadu': 'Tamil Nadu',
    'telangana': 'Telangana',
    'telengana': 'Telangana',
    'tripura': 'Tripura',
    'uttar pradesh': 'Uttar Pradesh',
    'uttarakhand': 'Uttarakhand',
    'uttrakhand': 'Uttarakhand',
    'uttarkhand': 'Uttarakhand',
    'west bengal': 'West Bengal',
    'westbengal': 'West Bengal',
    'bhubhaneswar': 'Odisha',
    'chikhali': 'Maharashtra',
    'ernakulam': 'Kerala',
    'harayana': 'Haryana',
    'hisar': 'Haryana',
    'hyderabad': 'Telangana',
    'hyderabadu00a0': 'Telangana',
    'kochi': 'Kerala',
    'tripura': 'Tripura',
    'chhattisgarh': 'Chhattisgarh',
    'Chhattisgarh': 'Chhattisgarh',
    'Jammu and Kashmir': 'Jammu and Kashmir',
    'jammu and kashmir': 'Jammu and Kashmir'
}

In [ ]:
# replacing all the inconsitencies with proper state names
df['state']=df['state'].replace(state_mapping)

In [ ]:
# using value counts to extract the total charging stations across each state and converting the data into a dataframe
STwise_charging_stations=df.state.value_counts().reset_index()
STwise_charging_stations.rename(columns={'index': 'state', 'count':'total-charging-stations'}, inplace=True)
STwise_charging_stations

                          state  total-charging-stations
0                   Maharashtra                      265
1                    Tamil Nadu                      183
2                         Delhi                      179
3                     Karnataka                      134
4                        Kerala                       94
5                 Uttar Pradesh                       87
6                     Telangana                       82
7                       Gujarat                       78
8                     Rajasthan                       69
9                       Haryana                       62
10               Andhra Pradesh                       60
11                  West Bengal                       56
12                       Odisha                       39
13                  Uttarakhand                       26
14                       Punjab                       24
15                    Jharkhand                       22
16               Madhya Pradesh                       20
17                 Chhattisgarh                       18
18                        Assam                       10
19                        Bihar                        9
20                          Goa                        8
21            Jammu and Kashmir                        7
22             Himachal Pradesh                        6
23                   Puducherry                        3
24                   Chandigarh                        2
25                       Sikkim                        2
26                      Tripura                        1
27  Andaman and Nicobar Islands                        1

In [ ]:
# Loading the second dataset with electric vehicle sales data
df1=pd.read_csv('/content/EV_sales.csv')
df1

,State Name,Two Wheeler,Three Wheeler,Four Wheeler,Goods Vehicles,Public Service Vehicle,Special Category Vehicles,Ambulance/Hearses,Construction Equipment Vehicle,Other,Grand Total
0,Andaman and Nicobar Island,1,30.0,81,NaN,40.0,NaN,NaN,NaN,7.0,159
1,Arunachal Pradesh,14,NaN,5,NaN,NaN,NaN,NaN,NaN,1.0,20
2,Assam,721,47041.0,161,7.0,15.0,NaN,NaN,NaN,2.0,47947
3,Bihar,5003,59079.0,114,11.0,26.0,NaN,NaN,NaN,8.0,64241
4,Chandigarh,298,1410.0,182,NaN,40.0,NaN,NaN,NaN,1.0,1931
5,Chhattisgarh,6424,5341.0,117,1077.0,1.0,NaN,NaN,368.0,100.0,13428
6,Delhi,14730,112831.0,3051,49.0,39.0,NaN,NaN,NaN,1602.0,132302
7,Goa,1314,28.0,289,13.0,36.0,2.0,NaN,NaN,4.0,1686
8,Gujarat,13662,1869.0,1309,28.0,278.0,344.0,NaN,26.0,77.0,17593
9,Haryana,7777,18595.0,186,122.0,8.0,2.0,NaN,NaN,90.0,26780
10,Himachal Pradesh,368,167.0,37,7.0,86.0,NaN,NaN,NaN,46.0,711
11,Jammu and Kashmir,1417,43.0,10,6.0,43.0,NaN,NaN,NaN,8.0,1527
12,Jharkhand,2961,8986.0,139,24.0,4.0,NaN,NaN,NaN,57.0,12171
13,Karnataka,56737,16478.0,7212,153.0,44.0,1.0,1.0,NaN,1420.0,82046
14,Kerala,10299,2115.0,2524,43.0,23.0,NaN,1.0,NaN,17.0,15022
15,Ladakh,12,NaN,5484,NaN,NaN,NaN,NaN,NaN,NaN,5496
16,Maharashtra,51149,6155.0,2,30.0,851.0,26.0,1.0,NaN,601.0,58815
17,Manipur,86,443.0,9,1.0,NaN,NaN,NaN,NaN,1.0,540
18,Meghalaya,16,6.0,3,3.0,NaN,NaN,NaN,NaN,NaN,28
19,Mizoram,9,1.0,4,2.0,1.0,NaN,NaN,NaN,3.0,20
20,Nagaland,44,NaN,121,3.0,NaN,1.0,NaN,1.0,1.0,171
21,Odisha,10329,1808.0,75,21.0,NaN,25.0,NaN,1.0,23.0,12282
22,Puducherry,1429,32.0,124,9.0,20.0,NaN,NaN,NaN,NaN,1614
23,Punjab,6408,2878.0,798,35.0,2.0,NaN,NaN,NaN,21.0,10142
24,Rajasthan,23446,29631.0,12,25.0,1.0,NaN,1.0,1.0,24.0,53141
25,Sikkim,1,NaN,2414,1.0,NaN,NaN,NaN,NaN,9.0,2425
26,Tamil Nadu,44302,4470.0,13,1281.0,37.0,NaN,NaN,NaN,193.0,50296
27,Tripura,67,7510.0,14,1.0,NaN,NaN,NaN,NaN,1.0,7593
28,Dadra and Nagar Haveli and Daman and Diu,69,36.0,153,2.0,10.0,7.0,NaN,NaN,NaN,277
29,Uttar Pradesh,18295,257159.0,368,53.0,327.0,2.0,NaN,NaN,13.0,276217
30,Uttarakhand,2614,22096.0,709,1.0,10.0,NaN,NaN,NaN,21.0,25451
31,West Bengal,2540,40948.0,615,28.0,97.0,NaN,2.0,NaN,61.0,44291
32,Grand Total,282542,647186.0,26335,3036.0,2039.0,410.0,6.0,397.0,4412.0,966363

In [ ]:
df1.head()

,State Name,Two Wheeler,Three Wheeler,Four Wheeler,Goods Vehicles,Public Service Vehicle,Special Category Vehicles,Ambulance/Hearses,Construction Equipment Vehicle,Other,Grand Total
0,Andaman and Nicobar Island,1,30.0,81,NaN,40.0,NaN,NaN,NaN,7.0,159
1,Arunachal Pradesh,14,NaN,5,NaN,NaN,NaN,NaN,NaN,1.0,20
2,Assam,721,47041.0,161,7.0,15.0,NaN,NaN,NaN,2.0,47947
3,Bihar,5003,59079.0,114,11.0,26.0,NaN,NaN,NaN,8.0,64241
4,Chandigarh,298,1410.0,182,NaN,40.0,NaN,NaN,NaN,1.0,1931

In [ ]:
df1.tail()

,State Name,Two Wheeler,Three Wheeler,Four Wheeler,Goods Vehicles,Public Service Vehicle,Special Category Vehicles,Ambulance/Hearses,Construction Equipment Vehicle,Other,Grand Total
28,Dadra and Nagar Haveli and Daman and Diu,69,36.0,153,2.0,10.0,7.0,NaN,NaN,NaN,277
29,Uttar Pradesh,18295,257159.0,368,53.0,327.0,2.0,NaN,NaN,13.0,276217
30,Uttarakhand,2614,22096.0,709,1.0,10.0,NaN,NaN,NaN,21.0,25451
31,West Bengal,2540,40948.0,615,28.0,97.0,NaN,2.0,NaN,61.0,44291
32,Grand Total,282542,647186.0,26335,3036.0,2039.0,410.0,6.0,397.0,4412.0,966363

In [ ]:
df1.shape

(33, 11)

In [ ]:
df1.columns

Index(['State Name', 'Two Wheeler', 'Three Wheeler', 'Four Wheeler',
       'Goods Vehicles', 'Public Service Vehicle', 'Special Category Vehicles',
       'Ambulance/Hearses', 'Construction Equipment Vehicle', 'Other',
       'Grand Total'],
      dtype='object')

In [ ]:
df1.dtypes

State Name                         object
Two Wheeler                         int64
Three Wheeler                     float64
Four Wheeler                        int64
Goods Vehicles                    float64
Public Service Vehicle            float64
Special Category Vehicles         float64
Ambulance/Hearses                 float64
Construction Equipment Vehicle    float64
Other                             float64
Grand Total                         int64
dtype: object

In [ ]:
df1.isna().sum()

State Name                         0
Two Wheeler                        0
Three Wheeler                      4
Four Wheeler                       0
Goods Vehicles                     4
Public Service Vehicle             8
Special Category Vehicles         23
Ambulance/Hearses                 27
Construction Equipment Vehicle    27
Other                              4
Grand Total                        0
dtype: int64

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 11 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   State Name                      33 non-null     object
 1   Two Wheeler                     33 non-null     int64
 2   Three Wheeler                   29 non-null     float64
 3   Four Wheeler                    33 non-null     int64
 4   Goods Vehicles                  29 non-null     float64
 5   Public Service Vehicle          25 non-null     float64
 6   Special Category Vehicles       10 non-null     float64
 7   Ambulance/Hearses               6 non-null      float64
 8   Construction Equipment Vehicle  6 non-null      float64
 9   Other                           29 non-null     float64
 10  Grand Total                     33 non-null     int64
dtypes: float64(7), int64(3), object(1)
memory usage: 3.0+ KB

In [ ]:
df1['State Name'].value_counts()

State Name
Andaman and Nicobar Island                  1
Manipur                                     1
West Bengal                                 1
Uttarakhand                                 1
Uttar Pradesh                               1
Dadra and Nagar Haveli and Daman and Diu    1
Tripura                                     1
Tamil Nadu                                  1
Sikkim                                      1
Rajasthan                                   1
Punjab                                      1
Puducherry                                  1
Odisha                                      1
Nagaland                                    1
Mizoram                                     1
Meghalaya                                   1
Maharashtra                                 1
Arunachal Pradesh                           1
Ladakh                                      1
Kerala                                      1
Karnataka                                   1
Jharkhand                                   1
Jammu and Kashmir                           1
Himachal Pradesh                            1
Haryana                                     1
Gujarat                                     1
Goa                                         1
Delhi                                       1
Chhattisgarh                                1
Chandigarh                                  1
Bihar                                       1
Assam                                       1
Grand Total                                 1
Name: count, dtype: int64

In [ ]:
# creating a new dataset joining the above two dataset based on the state column
final_dataset=pd.merge(df1, STwise_charging_stations, how='left', left_on='State Name', right_on='state')
final_dataset

,State Name,Two Wheeler,Three Wheeler,Four Wheeler,Goods Vehicles,Public Service Vehicle,Special Category Vehicles,Ambulance/Hearses,Construction Equipment Vehicle,Other,Grand Total,state,total-charging-stations
0,Andaman and Nicobar Island,1,30.0,81,NaN,40.0,NaN,NaN,NaN,7.0,159,NaN,NaN
1,Arunachal Pradesh,14,NaN,5,NaN,NaN,NaN,NaN,NaN,1.0,20,NaN,NaN
2,Assam,721,47041.0,161,7.0,15.0,NaN,NaN,NaN,2.0,47947,Assam,10.0
3,Bihar,5003,59079.0,114,11.0,26.0,NaN,NaN,NaN,8.0,64241,Bihar,9.0
4,Chandigarh,298,1410.0,182,NaN,40.0,NaN,NaN,NaN,1.0,1931,Chandigarh,2.0
5,Chhattisgarh,6424,5341.0,117,1077.0,1.0,NaN,NaN,368.0,100.0,13428,Chhattisgarh,18.0
6,Delhi,14730,112831.0,3051,49.0,39.0,NaN,NaN,NaN,1602.0,132302,Delhi,179.0
7,Goa,1314,28.0,289,13.0,36.0,2.0,NaN,NaN,4.0,1686,Goa,8.0
8,Gujarat,13662,1869.0,1309,28.0,278.0,344.0,NaN,26.0,77.0,17593,Gujarat,78.0
9,Haryana,7777,18595.0,186,122.0,8.0,2.0,NaN,NaN,90.0,26780,Haryana,62.0
10,Himachal Pradesh,368,167.0,37,7.0,86.0,NaN,NaN,NaN,46.0,711,Himachal Pradesh,6.0
11,Jammu and Kashmir,1417,43.0,10,6.0,43.0,NaN,NaN,NaN,8.0,1527,Jammu and Kashmir,7.0
12,Jharkhand,2961,8986.0,139,24.0,4.0,NaN,NaN,NaN,57.0,12171,Jharkhand,22.0
13,Karnataka,56737,16478.0,7212,153.0,44.0,1.0,1.0,NaN,1420.0,82046,Karnataka,134.0
14,Kerala,10299,2115.0,2524,43.0,23.0,NaN,1.0,NaN,17.0,15022,Kerala,94.0
15,Ladakh,12,NaN,5484,NaN,NaN,NaN,NaN,NaN,NaN,5496,NaN,NaN
16,Maharashtra,51149,6155.0,2,30.0,851.0,26.0,1.0,NaN,601.0,58815,Maharashtra,265.0
17,Manipur,86,443.0,9,1.0,NaN,NaN,NaN,NaN,1.0,540,NaN,NaN
18,Meghalaya,16,6.0,3,3.0,NaN,NaN,NaN,NaN,NaN,28,NaN,NaN
19,Mizoram,9,1.0,4,2.0,1.0,NaN,NaN,NaN,3.0,20,NaN,NaN
20,Nagaland,44,NaN,121,3.0,NaN,1.0,NaN,1.0,1.0,171,NaN,NaN
21,Odisha,10329,1808.0,75,21.0,NaN,25.0,NaN,1.0,23.0,12282,Odisha,39.0
22,Puducherry,1429,32.0,124,9.0,20.0,NaN,NaN,NaN,NaN,1614,Puducherry,3.0
23,Punjab,6408,2878.0,798,35.0,2.0,NaN,NaN,NaN,21.0,10142,Punjab,24.0
24,Rajasthan,23446,29631.0,12,25.0,1.0,NaN,1.0,1.0,24.0,53141,Rajasthan,69.0
25,Sikkim,1,NaN,2414,1.0,NaN,NaN,NaN,NaN,9.0,2425,Sikkim,2.0
26,Tamil Nadu,44302,4470.0,13,1281.0,37.0,NaN,NaN,NaN,193.0,50296,Tamil Nadu,183.0
27,Tripura,67,7510.0,14,1.0,NaN,NaN,NaN,NaN,1.0,7593,Tripura,1.0
28,Dadra and Nagar Haveli and Daman and Diu,69,36.0,153,2.0,10.0,7.0,NaN,NaN,NaN,277,NaN,NaN
29,Uttar Pradesh,18295,257159.0,368,53.0,327.0,2.0,NaN,NaN,13.0,276217,Uttar Pradesh,87.0
30,Uttarakhand,2614,22096.0,709,1.0,10.0,NaN,NaN,NaN,21.0,25451,Uttarakhand,26.0
31,West Bengal,2540,40948.0,615,28.0,97.0,NaN,2.0,NaN,61.0,44291,West Bengal,56.0
32,Grand Total,282542,647186.0,26335,3036.0,2039.0,410.0,6.0,397.0,4412.0,966363,NaN,NaN

In [ ]:
# dropping the row with grand total values as not required for analysis
final_dataset.drop(32, inplace=True)

# dropping the repeated state column
final_dataset=final_dataset.drop(columns=['state'])
final_dataset

,State Name,Two Wheeler,Three Wheeler,Four Wheeler,Goods Vehicles,Public Service Vehicle,Special Category Vehicles,Ambulance/Hearses,Construction Equipment Vehicle,Other,Grand Total,total-charging-stations
0,Andaman and Nicobar Island,1,30.0,81,NaN,40.0,NaN,NaN,NaN,7.0,159,NaN
1,Arunachal Pradesh,14,NaN,5,NaN,NaN,NaN,NaN,NaN,1.0,20,NaN
2,Assam,721,47041.0,161,7.0,15.0,NaN,NaN,NaN,2.0,47947,10.0
3,Bihar,5003,59079.0,114,11.0,26.0,NaN,NaN,NaN,8.0,64241,9.0
4,Chandigarh,298,1410.0,182,NaN,40.0,NaN,NaN,NaN,1.0,1931,2.0
5,Chhattisgarh,6424,5341.0,117,1077.0,1.0,NaN,NaN,368.0,100.0,13428,18.0
6,Delhi,14730,112831.0,3051,49.0,39.0,NaN,NaN,NaN,1602.0,132302,179.0
7,Goa,1314,28.0,289,13.0,36.0,2.0,NaN,NaN,4.0,1686,8.0
8,Gujarat,13662,1869.0,1309,28.0,278.0,344.0,NaN,26.0,77.0,17593,78.0
9,Haryana,7777,18595.0,186,122.0,8.0,2.0,NaN,NaN,90.0,26780,62.0
10,Himachal Pradesh,368,167.0,37,7.0,86.0,NaN,NaN,NaN,46.0,711,6.0
11,Jammu and Kashmir,1417,43.0,10,6.0,43.0,NaN,NaN,NaN,8.0,1527,7.0
12,Jharkhand,2961,8986.0,139,24.0,4.0,NaN,NaN,NaN,57.0,12171,22.0
13,Karnataka,56737,16478.0,7212,153.0,44.0,1.0,1.0,NaN,1420.0,82046,134.0
14,Kerala,10299,2115.0,2524,43.0,23.0,NaN,1.0,NaN,17.0,15022,94.0
15,Ladakh,12,NaN,5484,NaN,NaN,NaN,NaN,NaN,NaN,5496,NaN
16,Maharashtra,51149,6155.0,2,30.0,851.0,26.0,1.0,NaN,601.0,58815,265.0
17,Manipur,86,443.0,9,1.0,NaN,NaN,NaN,NaN,1.0,540,NaN
18,Meghalaya,16,6.0,3,3.0,NaN,NaN,NaN,NaN,NaN,28,NaN
19,Mizoram,9,1.0,4,2.0,1.0,NaN,NaN,NaN,3.0,20,NaN
20,Nagaland,44,NaN,121,3.0,NaN,1.0,NaN,1.0,1.0,171,NaN
21,Odisha,10329,1808.0,75,21.0,NaN,25.0,NaN,1.0,23.0,12282,39.0
22,Puducherry,1429,32.0,124,9.0,20.0,NaN,NaN,NaN,NaN,1614,3.0
23,Punjab,6408,2878.0,798,35.0,2.0,NaN,NaN,NaN,21.0,10142,24.0
24,Rajasthan,23446,29631.0,12,25.0,1.0,NaN,1.0,1.0,24.0,53141,69.0
25,Sikkim,1,NaN,2414,1.0,NaN,NaN,NaN,NaN,9.0,2425,2.0
26,Tamil Nadu,44302,4470.0,13,1281.0,37.0,NaN,NaN,NaN,193.0,50296,183.0
27,Tripura,67,7510.0,14,1.0,NaN,NaN,NaN,NaN,1.0,7593,1.0
28,Dadra and Nagar Haveli and Daman and Diu,69,36.0,153,2.0,10.0,7.0,NaN,NaN,NaN,277,NaN
29,Uttar Pradesh,18295,257159.0,368,53.0,327.0,2.0,NaN,NaN,13.0,276217,87.0
30,Uttarakhand,2614,22096.0,709,1.0,10.0,NaN,NaN,NaN,21.0,25451,26.0
31,West Bengal,2540,40948.0,615,28.0,97.0,NaN,2.0,NaN,61.0,44291,56.0

In [ ]:
final_dataset.shape

(32, 12)

In [ ]:
final_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   State Name                      32 non-null     object
 1   Two Wheeler                     32 non-null     int64
 2   Three Wheeler                   28 non-null     float64
 3   Four Wheeler                    32 non-null     int64
 4   Goods Vehicles                  28 non-null     float64
 5   Public Service Vehicle          24 non-null     float64
 6   Special Category Vehicles       9 non-null      float64
 7   Ambulance/Hearses               5 non-null      float64
 8   Construction Equipment Vehicle  5 non-null      float64
 9   Other                           28 non-null     float64
 10  Grand Total                     32 non-null     int64
 11  total-charging-stations         24 non-null     float64
dtypes: float64(8), int64(3), object(1)
memory usage: 3.1+ KB

In [ ]:
final_dataset.describe()

,Two Wheeler,Three Wheeler,Four Wheeler,Goods Vehicles,Public Service Vehicle,Special Category Vehicles,Ambulance/Hearses,Construction Equipment Vehicle,Other,Grand Total,total-charging-stations
count,32.000000,28.000000,32.00000,28.000000,24.000000,9.000000,5.000000,5.000000,28.000000,32.000000,24.000000
mean,8829.437500,23113.785714,822.96875,108.428571,84.958333,45.555556,1.200000,79.400000,157.571429,30198.843750,57.666667
std,15027.420445,52178.963264,1661.50339,305.682167,182.408638,112.373386,0.447214,161.695083,400.087993,54220.859227,69.800752
min,1.000000,1.000000,2.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,20.000000,1.000000
25%,68.500000,136.000000,13.75000,3.000000,9.500000,2.000000,1.000000,1.000000,3.750000,1323.000000,7.750000
50%,1984.500000,3674.000000,131.50000,17.000000,31.000000,2.000000,1.000000,1.000000,19.000000,11156.500000,25.000000
75%,10306.500000,19470.250000,638.50000,37.000000,43.250000,25.000000,1.000000,26.000000,65.000000,45205.000000,80.250000
max,56737.000000,257159.000000,7212.00000,1281.000000,851.000000,344.000000,2.000000,368.000000,1602.000000,276217.000000,265.000000

In [ ]:
100*(final_dataset.isnull().sum())/len(final_dataset)

State Name                         0.000
Two Wheeler                        0.000
Three Wheeler                     12.500
Four Wheeler                       0.000
Goods Vehicles                    12.500
Public Service Vehicle            25.000
Special Category Vehicles         71.875
Ambulance/Hearses                 84.375
Construction Equipment Vehicle    84.375
Other                             12.500
Grand Total                        0.000
total-charging-stations           25.000
dtype: float64

After analyzing the Grand total column, it appears that the NaN values in the other columns can be safely replaced with 0. This conclusion is drawn based on the observation that the Grand total remains consistent despite the presence of missing values in other columns.

In [ ]:
cols_list=['Special Category Vehicles','Ambulance/Hearses','Construction Equipment Vehicle','Other', 'Three Wheeler','Goods Vehicles','Public Service Vehicle']
final_dataset[cols_list]=final_dataset[cols_list].fillna(0)
final_dataset.head()

,State Name,Two Wheeler,Three Wheeler,Four Wheeler,Goods Vehicles,Public Service Vehicle,Special Category Vehicles,Ambulance/Hearses,Construction Equipment Vehicle,Other,Grand Total,total-charging-stations
0,Andaman and Nicobar Island,1,30.0,81,0.0,40.0,0.0,0.0,0.0,7.0,159,NaN
1,Arunachal Pradesh,14,0.0,5,0.0,0.0,0.0,0.0,0.0,1.0,20,NaN
2,Assam,721,47041.0,161,7.0,15.0,0.0,0.0,0.0,2.0,47947,10.0
3,Bihar,5003,59079.0,114,11.0,26.0,0.0,0.0,0.0,8.0,64241,9.0
4,Chandigarh,298,1410.0,182,0.0,40.0,0.0,0.0,0.0,1.0,1931,2.0

In [ ]:
final_dataset.isnull().sum()

State Name                        0
Two Wheeler                       0
Three Wheeler                     0
Four Wheeler                      0
Goods Vehicles                    0
Public Service Vehicle            0
Special Category Vehicles         0
Ambulance/Hearses                 0
Construction Equipment Vehicle    0
Other                             0
Grand Total                       0
total-charging-stations           8
dtype: int64

Rather than imputing the missing values in the total-charging-stations, we will let the values be NaN to maintain the integrity of the data.

In [ ]:
final_dataset

,State Name,Two Wheeler,Three Wheeler,Four Wheeler,Goods Vehicles,Public Service Vehicle,Special Category Vehicles,Ambulance/Hearses,Construction Equipment Vehicle,Other,Grand Total,total-charging-stations
0,Andaman and Nicobar Island,1,30.0,81,0.0,40.0,0.0,0.0,0.0,7.0,159,NaN
1,Arunachal Pradesh,14,0.0,5,0.0,0.0,0.0,0.0,0.0,1.0,20,NaN
2,Assam,721,47041.0,161,7.0,15.0,0.0,0.0,0.0,2.0,47947,10.0
3,Bihar,5003,59079.0,114,11.0,26.0,0.0,0.0,0.0,8.0,64241,9.0
4,Chandigarh,298,1410.0,182,0.0,40.0,0.0,0.0,0.0,1.0,1931,2.0
5,Chhattisgarh,6424,5341.0,117,1077.0,1.0,0.0,0.0,368.0,100.0,13428,18.0
6,Delhi,14730,112831.0,3051,49.0,39.0,0.0,0.0,0.0,1602.0,132302,179.0
7,Goa,1314,28.0,289,13.0,36.0,2.0,0.0,0.0,4.0,1686,8.0
8,Gujarat,13662,1869.0,1309,28.0,278.0,344.0,0.0,26.0,77.0,17593,78.0
9,Haryana,7777,18595.0,186,122.0,8.0,2.0,0.0,0.0,90.0,26780,62.0
10,Himachal Pradesh,368,167.0,37,7.0,86.0,0.0,0.0,0.0,46.0,711,6.0
11,Jammu and Kashmir,1417,43.0,10,6.0,43.0,0.0,0.0,0.0,8.0,1527,7.0
12,Jharkhand,2961,8986.0,139,24.0,4.0,0.0,0.0,0.0,57.0,12171,22.0
13,Karnataka,56737,16478.0,7212,153.0,44.0,1.0,1.0,0.0,1420.0,82046,134.0
14,Kerala,10299,2115.0,2524,43.0,23.0,0.0,1.0,0.0,17.0,15022,94.0
15,Ladakh,12,0.0,5484,0.0,0.0,0.0,0.0,0.0,0.0,5496,NaN
16,Maharashtra,51149,6155.0,2,30.0,851.0,26.0,1.0,0.0,601.0,58815,265.0
17,Manipur,86,443.0,9,1.0,0.0,0.0,0.0,0.0,1.0,540,NaN
18,Meghalaya,16,6.0,3,3.0,0.0,0.0,0.0,0.0,0.0,28,NaN
19,Mizoram,9,1.0,4,2.0,1.0,0.0,0.0,0.0,3.0,20,NaN
20,Nagaland,44,0.0,121,3.0,0.0,1.0,0.0,1.0,1.0,171,NaN
21,Odisha,10329,1808.0,75,21.0,0.0,25.0,0.0,1.0,23.0,12282,39.0
22,Puducherry,1429,32.0,124,9.0,20.0,0.0,0.0,0.0,0.0,1614,3.0
23,Punjab,6408,2878.0,798,35.0,2.0,0.0,0.0,0.0,21.0,10142,24.0
24,Rajasthan,23446,29631.0,12,25.0,1.0,0.0,1.0,1.0,24.0,53141,69.0
25,Sikkim,1,0.0,2414,1.0,0.0,0.0,0.0,0.0,9.0,2425,2.0
26,Tamil Nadu,44302,4470.0,13,1281.0,37.0,0.0,0.0,0.0,193.0,50296,183.0
27,Tripura,67,7510.0,14,1.0,0.0,0.0,0.0,0.0,1.0,7593,1.0
28,Dadra and Nagar Haveli and Daman and Diu,69,36.0,153,2.0,10.0,7.0,0.0,0.0,0.0,277,NaN
29,Uttar Pradesh,18295,257159.0,368,53.0,327.0,2.0,0.0,0.0,13.0,276217,87.0
30,Uttarakhand,2614,22096.0,709,1.0,10.0,0.0,0.0,0.0,21.0,25451,26.0
31,West Bengal,2540,40948.0,615,28.0,97.0,0.0,2.0,0.0,61.0,44291,56.0

In [ ]:
final_dataset.to_csv('final_dataset.csv', index=True)